NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
CRON_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=FNH <notificaciones@yourdomain.com>
NOTIFICATION_RECIPIENT=monica@yourdomain.com
